body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./loginbg.gif");
}

#form {
  background: rgba(233, 146, 53);
  border-radius: 2em;
  font-family: "Oswald", sans-serif;
  color: rgb(97, 50, 25);
}
div {
  display: flex;
  justify-content: center;
  margin: 20px;
}
label {
  font-weight: 500;
  margin: 0 20px;
  font-size: 20px;
}
input {
  border-radius: 10px;
  width: 250px;
  height: 35px;
  background: rgb(255, 255, 255);
  outline: none;
  font-size: 20px;
  padding: 0 5px;
}
button {
  width: 70%;
  height: 35px;
  border-radius: 10px;
  font-size: 12px;
  background: rgb(255, 255, 255);
  color: rgb(99, 48, 9);
  cursor: pointer;
  outline: none;
}
